.container {
   max-width:1792px ;
   // padding: 0 15px;
   margin: 0 auto;
   @include breakpoint(extra-large-destop){
       padding: 0 20px;
   }
   @include breakpoint(medium-large-desktop-max){
      padding: 0 30px;
  }
}
.container-fluid{
   width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

}
