@font-face {
    font-family: 'Circular-Std-Bold';
    src: url('../fonts/circular-std/CircularStd-Bold.eot');
    src: url('../fonts/circular-std/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circular-std/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/circular-std/CircularStd-Bold.woff') format('woff'),
        url('../fonts/circular-std/CircularStd-Bold.ttf') format('truetype'),
        url('../fonts/circular-std/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std-Book';
    src: url('../fonts/circular-std/CircularStd-Book.eot');
    src: url('../fonts/circular-std/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circular-std/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/circular-std/CircularStd-Book.woff') format('woff'),
        url('../fonts/circular-std/CircularStd-Book.ttf') format('truetype'),
        url('../fonts/circular-std/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std-Black';
    src: url('../fonts/circular-std/CircularStd-Black.eot');
    src: url('../fonts/circular-std/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circular-std/CircularStd-Black.woff2') format('woff2'),
        url('../fonts/circular-std/CircularStd-Black.woff') format('woff'),
        url('../fonts/circular-std/CircularStd-Black.ttf') format('truetype'),
        url('../fonts/circular-std/CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std-Medium';
    src: url('../fonts/circular-std/CircularStd-Medium.eot');
    src: url('../fonts/circular-std/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circular-std/CircularStd-Medium.woff2') format('woff2'),
        url('../fonts/circular-std/CircularStd-Medium.woff') format('woff'),
        url('../fonts/circular-std/CircularStd-Medium.ttf') format('truetype'),
        url('../fonts/circular-std/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


