// Fonts
$primary-font-family:'Circular-Std-Book';
$secondary-font-family: 'Circular-Std-Black';
$tertiary-font-family:'Circular-Std-Medium';
$quaternary-font-family:'Circular-Std-Bold';



// Color
$bg-primary-color: #841E25;
$header-icon-color:#C8C8C8;
$white-color:#FFFFFF;
$header-btn-color:#040404;
$heading-color:#002147;
$nav-link-color:#002147;
$footer-bg-color:#841E25;
$banner-paragraph-color:#7D7D7D;
$mission-btn:#212529;
$sceouendry-heading-color:#373737;
// $sceouendry-paragraph:#7D7D7D;

// $text-color: #2d2d2d;

// Container and Grid Spacing
// $container-width: 1170px;
// $grid-space: 15px;

// path
// $images-path: "../images" !default;
// icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icons" !default;
// icon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;
$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
$icon-book: "\e902";
$icon-btn-left-arrow: "\e903";
$icon-call: "\e904";
$icon-drop-down: "\e905";
$icon-facebook: "\e906";
$icon-home: "\e907";
$icon-letter: "\e909";
$icon-location: "\e90a";
$icon-mail: "\e90b";
$icon-medal-icon: "\e90c";
$icon-page-icon: "\e90d";
$icon-search-bar: "\e90e";
$icon-twitter: "\e90f";
$icon-youtube: "\e910";
